<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#"
      lang="en">
  <head>
<!-- 		<meta charset="utf-8"> -->
<!-- 		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
    <meta charset="utf-8" />
<!--       <title>Social Media Preview</title> -->
        <meta property="og:url" content="/" />
        <meta property="og:type" content="website" />
        <meta property="fb:app_id" content="your fb id" />
        <meta property="og:image" content="/img/MTY1MzMxODU2NTQ5MC1TaXRlLVByZXZpZXctMjAyMi5wbmc=.png" />
        <meta property="og:title" content="Diego Herrera" />
        <meta name="twitter:card" contentcontent="Graphic Designer" />
        <meta
          property="og:description"
          content="Graphic Designer">
       		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
    <!-- PAGE META TAGS -->
    <meta
      name="description"
      content="Graphic Designer"
    />
		<!-- PAGE META TAGS -->
		<meta name="author" content="Richard Yurewitch & Diego Herrera">

		<!-- TRACKING AFFILIATES AND BOTS -->
		<meta name="robots" content="noindex, nofollow">
		<meta name="googlebot" content="noindex, nofollow">

		<!-- TITLE -->
		<title>Diego Herrera</title>
    <link id="favicon" href="/img/MTY1MzMyMDcxMDM2My1kaWVnby1pY29uLXJlYWwtMDIuc3Zn.svg" rel="icon" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->

<!--     <link rel="stylesheet" href="/clientlib.css"> -->
<!--         <link rel="stylesheet" href="/nyufonts.css"> -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's client-side javascript file -->
    <script src="/crud.js" defer></script>
  </head>

<!--     <link rel="stylesheet" href="/clientlib.css"> -->
<!--         <link rel="stylesheet" href="/nyufonts.css"> -->
<!--     <link rel="stylesheet" href="/style.css"> -->
    <link rel="stylesheet" href="/variablefonts.css">
    
    <!-- import the webpage's client-side javascript file -->

  <body class=" GN-mquery-desktop channel">


    


      








<!--
MorphSVGPlugin.min.js is a Club GreenSock perk which is not available on a CDN. Download it from your GreenSock account and include it locally like this:

<script src="/[YOUR_DIRECTORY]/MorphSVGPlugin.min.js"></script>

Sign up at https://greensock.com/club or try them for free on CodePen or CodeSandbox
-->
    

 
    
   
      </div>

<!--     <div class="links">
          <a href="/about">About</a>
    <a href="/resources">Resources</a>
    </div> -->
    
          <div class="linksContainer">
                <div class="margin">
          
        </div>
              <div class="links">
                    <a href="/"><u>Portfolio</u></a>
            <a class="hover-underline-animation lasta" href="/info">Info</a>

      </div>
            
            <div class="copyrightDate">
             © May 2022
            </div>
            
        <div class="margin">
          
        </div>
      </div>
    
    <main id="indexmain">
<div class="diegoblurb">
  Diego Herrera is a graphic designer living &amp working in New York City. Please contact Diego with project proposals, inquiries, love letters, hate mail, and introductions at diegoherrera.nyc@gmail.com
      </div>

<!--       <p>Let's view some links</p> -->
      
 
      
<!--       id, name, json -->
      
<!--     <a href="/projects">Projects</a> -->
      
      
  
<!--       <a href="/projects">Projects</a> -->
          <section class="data-list">
        <div id="data"></div>
      </section>  
<!--     <a href="/projects">Projects</a><br><br> -->
      
      
      
    </main>
    

    
    <section id="actions">
    
    </section>

  


    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
<!--     <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script> -->


    

  </body>
</html>
